<h1> Practice Javascript, Ajax,  & JSON </h1>

<section class = "col-10 offset-5">

  <div class="btn-group">
            <button class="btn btn-lg dropdown-toggle" id = "title"type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button (0)
            </button>
            <div class="dropdown-menu keep-open notification-list" id = "target">

            </div>
        </div>
</section>



<br/>


<section class = "col-10 offset-5">
  <button id = "thingy">Send a notification!</button>
</section>



<script>
  $(function(){
    showNoti();

  });


  function showNoti(){

      $.get("/notifications").success( function(data){
      
      var htmlString = "";
      counter = 0;
      $.each(data, function(index, notification){
        
        if (notification.read == false){
          var notiElement = '<li class = "dropdown-item" data-id = "'+notification.id+' ">' + notification.message + '</li>';
          htmlString += notiElement;
          counter += 1;
        }

      });

 
      var notis = $('.notification-list');
      notis.html(htmlString);
      
      var buttontitle = $('#title');
      buttontitle.html('Dropdown button (' + counter+')');

    });
  }


    $("#target").click(function(event) {
        var itemId = $(event.target).data("id");
        console.log(itemId);

        $.post("/notifications/"+itemId, {
          _method: "PUT",
          notification: {
            read: true
          }
        }, function(data){
            showNoti();
        });


    });


  $('#thingy').click(function(){

    var noti = {
      notification: {
        message: 'New Notification!'
      }
    };
    

    $.post("/notifications",noti,function(data){
      console.log('done!');
      showNoti();
    });
    
  });



jQuery('.dropdown-toggle').on('click', function (e) {
  $(this).next().toggle();
});
jQuery('.dropdown-menu.keep-open').on('click', function (e) {
  e.stopPropagation();
});

if(1) {
  $('body').attr('tabindex', '0');
}
else {
  alertify.confirm().set({'reverseButtons': true});
  alertify.prompt().set({'reverseButtons': true});
}


</script>